{{>header}}
<div class="container">
<div class="jumbotron">
  <h1 class="display-3">Create a new Poll</h1>
  <p class="lead">Create a new poll and see what's other people opinion!</p>
    {{#each errors}}
      <div class="alert alert-danger" role="alert">{{msg}}</div>
    {{/each}}
    {{#if messages.error}}
    <div class="alert alert-danger" role="alert">{{messages.error}}</div>
    {{/if}}
  <form method="POST">
  <div class="form-group">
    <label for="title"><dt>Title</dt></label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Enter a title for the pool" required>
  </div>
  <div class="form-group">
    <label for="options"><dt>Options:</dt></label>
    <small class="form-text text-muted"><dt>Insert your options separated by a comma</dt></small>
    <textarea class="form-control" id="options" name="options" rows="3" required></textarea>
  </div>
  <div class="form-check">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Create</button>
</form>
  </p>
</div>
</div>
{{>footer}}