{{>header}}
<div class="jumbotron container">
    <div class="row">
        {{#if polls}}
    {{#each polls}}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="lead"><i class="fa fa-calendar" aria-hidden="true">{{createdAt}}</i></p>
            <a href="poll/{{_id}}" class="btn btn-info text-center btn-block">See More</i></a>
      </div>
    </div>
  </div>
{{/each}}
{{/if}}    
</div>
</div>
{{>footer}}