{{>header}}
<div class="jumbotron container text-center">
    <div class="row">
        <div class="col-md-12 mb-4">
                <h1 class="display-4">My polls</h1>
        </div>
        {{#if polls}}
        <div class="col-md-12">
            <p class="lead">Bellow are your polls click on them for info, or <a href="/poll/new">here</a> to create a new one.</p>
        </div>
        <div class="col-md-12">
            <ul class="list-group">
            {{#each polls}}
                <a href="{{_id}}" class="list-group-item">{{title}}</a>
            {{/each}}
            </ul>
        </div>

{{else}}
<div class="col-md-12">
    <p class="lead">No polls created yet click <a href="/poll/new">here</a> to create one</p>
</div>
{{/if}}
</div>
</div>
{{>footer}}